<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}My Ticket App
			{% endblock %}
		</title>
		{# <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet"> #}
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	</head>

	<body class="bg-gray-50 text-gray-800 min-h-screen flex flex-col">
		{% include 'partials/navbar.html.twig' %}
		<main class="grow">
			{% block content %}
				{# main content here #}
			{% endblock %}
		</main>
		{% include 'partials/footer.html.twig' %}

	</body>
</html>
