{% extends "base.html.twig" %}

{% block title %}Landing Page
{% endblock %}

{% block content %}
	<section class="flex justify-center items-center h-screen bg-gray-100">
		<form action="/auth/login" method="POST" class="bg-white p-6 rounded-xl shadow-md w-full max-w-sm space-y-4">
			<h2 class="text-xl font-bold text-center">Login</h2>

			{# --- EMAIL FIELD --- #}
			<div class="space-y-1">
				<label for="email" class="block font-medium">Email</label>
				<input type="email" id="email" name="email" placeholder="Email" class="w-full p-3 border rounded-md focus:outline-none focus:ring-2
																				          {% if errors.email %}
																				            border-red-500 focus:ring-red-400
																				          {% else %}
																				            border-gray-300 focus:ring-blue-500
																				          {% endif %}" value="{{ old.email|default('') }}"/>
				{% if errors.email %}
					<p class="text-red-500 text-sm">{{ errors.email }}</p>
				{% endif %}
			</div>

			{# --- PASSWORD FIELD --- #}
			<div class="space-y-1">
				<label for="password" class="block font-medium">Password</label>
				<input type="password" id="password" name="password" placeholder="Password" class="w-full p-3 border rounded-md focus:outline-none focus:ring-2
												{% if errors.password %}
												 border-red-500 focus:ring-red-400
												{% else %}
												 border-gray-300 focus:ring-blue-500
												{% endif %}"/>
				{% if errors.password %}
					<p class="text-red-500 text-sm">{{ errors.password }}</p>
				{% endif %}
			</div>

			<button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 mt-4 rounded-md transition duration-200 cursor-pointer">
				Login
			</button>

			<p class="text-center text-sm">
				Don’t have an account?
				<a href="/register" class="text-blue-600 hover:underline">Register</a>
			</p>
		</form>
	</section>
{% endblock %}

{% block scripts %}
  <script type="module" src="/login.js"></script>
{% endblock %}

